<!doctype html>
<html>
<head>
    <title>SSD Assignment 2</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <style>
        body
        {
            padding-top:80px;
        }
        .bodycontent
        {
            background-image: url('https://image.freepik.com/free-photo/elevated-view-pink-green-grey-cardboard-papers-yellow-background_23-2147878535.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .btn{
            width: 290px;
            height: 80px;
            font-size: xx-large;
        }
        .bodyclass{
            margin-top: 177px;
        }
    </style>
</head>
<body class="bodycontent">

   <div class="container">

     <div class="bodyclass" align="center">
          <h1 align="center"><span class="fa fa-upload"></span> Upload to Google Drive Now</h1>
            <a href="<%=api%>" class="btn btn-info btn-outline-primary"><span class="fa fa-upload"></span> Login To Upload</a>
     </div>

   </div>

</body>
</html>